{% extends 'secondadmin/base_sa.html' %}

{% block title %}
			Yangi davlat qo'shish
		{% endblock title %} 

{% block namepage %}
Yangi davlat qo'shish
{% endblock namepage %}


{% block content %}
<form action="{% url 'addcountry' %}" method="post">
{% include 'partials/_messages.html'%} {% csrf_token %}
<div class="card-body text-md-right">
    <a href="{% url 'country' %}"                             
        class="btn btn-warning">Bekor qilish</a>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">                                    
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="">Davlat kodi</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder="Masalan: 1"                                
                                name="davlat_kodi"
                                value = {{countries.davlat_kodi}}>
                        </div>
                        
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="">Davlat nomi</label>
                            <input type="text" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder="Masalan: O`zbekiston"                              
                                name="davlat_nomi"
                                value = {{countries.davlat_nomi}}>
                        </div>                        
                            
            </div>
        </div>
    </div>
    <div class="text-md-right">
        <input type="submit" 
            value="Qabul qilish" 
            class="btn btn-primary"/>
    </div>
</div></form>
{% endblock content %}