{% load static %}

<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
  <span class="align-middle"> {% block nameenterprises %}
      EIS
    {% endblock nameenterprises %} </span>
</a>

        <ul class="sidebar-nav">            

            <li class="sidebar-item">
                <a class="sidebar-link" href="index.html">
      <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Kirish</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-profile.html">
      <i class="align-middle" data-feather="user"></i> <span class="align-middle">Yo'riqnoma</span>
    </a>
            </li>                     

           
        </ul>

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2"> © Barcha huquqlar himoyalangan </strong>                              
                <strong class="d-inline-block mb-2"> 2021 </strong>
            </div>
        </div>
    </div>
</nav>


