{% extends 'base_ges.html' %}

{% block namepage %}
    <div class="row">
    Yangi hisobot yuborish
    </div>
    <div class="text-md-right">
        <a href="{% url 'ges_inperiodical' %}"                             
            class="btn btn-warning">Bekor qilish</a>
    </div>
{% endblock namepage %}

{% block content %}

<form action="{% url 'ges_addperiodical' %}" method="post">
{% include 'partials/_messages.html'%} {% csrf_token %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                test rejimida ishlamoqda ...
            </div>
            <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="">Hisobot nomi</label>
                            <input type="text" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder="masalan: Yanvar uchun"                                
                                name="nomi"
                                value = {{values_p.nomi}}>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="">Sanasi</label>
                            <input type="date" 
                                class="form-control" 
                                lang="uz-UZ"                                                             
                                name="sana"
                                value = {{values_p.sana}}>
                        </div>                                        
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-6">
            <div class="card">                
                <div class="card-body">
                    
                        <div class="row">                            
                            <div class="row">
                                <h3>Energiya ishlab chiqarish bo'yicha ma'lumotlar kiritish</h3>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="">Ishlab chiqarilgan aktiv elektr energiyasi (<B>kW<span>&#8226;</span>soat</B>)</label>
                                <input type="text" 
                                    class="form-control"                                                           
                                    name="aktiv_elektr_energiya"
                                    value = {{values_p.aktiv_elektr_energiya}}>
                            </div>
    
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="">Ishlab chiqarilgan reaktiv elektr energiyasi (<B>kVAr<span>&#8226;</span>soat</B>)</label>
                                <input type="text" 
                                    class="form-control"                                                           
                                    name="reaktiv_elektr_energiya"
                                    value = {{values_p.reaktiv_elektr_energiya}}>
                            </div>
    
                            <div class="row">
                                <h3>Quyosh yoki shamol stansiyalarida ishlab chiqarilgan elektr energiyasi </h3>
                            </div>
    
                            <div class="mb-3 col-md-12">Quyosh yoki shamol stansiyalarida ishlab chiqarilgan elektr energiyasining umumiy miqdori (<B>kW<span>&#8226;</span>soat</B>)</label>
                                <input type="text" 
                                    class="form-control"                                                                                             
                                    name="qtm_energiya"
                                    value = {{values_p.qtm_energiya}}>
                            </div>                
                </div>
            </div>
        </div>
    </div>
    
        <div class="col-6">
            <div class="card">                
                <div class="card-body">
                    
                        <div class="row">   
    
                            <div class="row">
                                <h3>Suv holati bo'yicha ma'lumotlarni kiritish </h3>
                            </div>
                            <div class="mb-3 col-md-12">
                                <label class="form-label" for="">Suv omboridagi suv hajmi (<B>mln.m<sup>3</sup></B>)</label>
                                <input type="text" 
                                    class="form-control"                                                           
                                    name="suv_omboridagi_suv_hajmi"
                                    value = {{values_p.suv_omboridagi_suv_hajmi}}>
                            </div>
    
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="">Stansiyaga kelayotgan suv sarfi (<B>mln.m<sup>3</sup></B>)</label>
                                <input type="text" 
                                    class="form-control"                                                           
                                    name="suv_oqimi"
                                    value = {{values_p.suv_oqimi}}>
                            </div>
    
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="">Turbinadagi suv sarfi(<B>mln.m<sup>3</sup></B>)</label>
                                <input type="text" 
                                    class="form-control"                                                           
                                    name="trubina_suv_sarfi"
                                    value = {{values_p.trubina_suv_sarfi}}>
                            </div>
                            
                            <div class="mb-3 col-md-12">
                                <label class="form-label" for="">Ishlab chiqarish imkoniyatidan ortiqcha yoki kam suv sarfi(<B>mln.m<sup>3</sup></B>)</label>
                                <input type="text" 
                                    class="form-control"                                                           
                                    name="salt_suv_sarfi"
                                    value = {{values_p.salt_suv_sarfi}}>
                            </div>

                           
                            
                        </div>     
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">                
            <div class="card-body">
                
                    <div class="row">   

                        <div class="row">
                            <h3>O'z ehtiyojiga ishlatilgan elektr energiyasi</h3>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="">ishlatilgan elektr energiya (<B>kW<span>&#8226;</span>soat</B>)</label>
                            <input type="text" 
                                class="form-control"                                                           
                                name=" "
                                value = "">
                        </div>

                        <div class="row">
                            <h3>Xo'jalik ehtiyojiga ishlatilgan elektr energiyasi </h3>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="">ishlatilgan elektr energiya (<B>kW<span>&#8226;</span>soat</B>)</label>
                            <input type="text" 
                                class="form-control"                                                           
                                name=" "
                                value = "">
                        </div>
                        <div class="row">
                            <h3>Texnik yo'qotishlarga sarflangan elektr energiyasi</h3>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="">yo'qotilgan elektr energiya (<B>kW<span>&#8226;</span>soat</B>)</label>
                            <input type="text" 
                                class="form-control"                                                           
                                name=" "
                                value = "">
                        </div>

                        <div class="row">
                            <h3>Nobalans elektr energiya</h3>
    