{% extends 'base_ges.html' %}

{% block namepage %}
    Davriy ma'lumotlarini kiritish
{% endblock namepage %}

{% block content %}
<div class="row">    
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                {% include 'partials/_messages.html'%} {% csrf_token %}
                <h5 class="card-title mb-0">
                   Davriy ma'lumotlar bo'limi test rejimida ishlayapti...</h5>
            </div>
            
            <div class="card-body">
                <div class="text-md-right mb-3">
                    <a href="ges_addperiodical" class="btn btn-pill btn-success" > <i data-feather="plus-square"></i> Yangi hisobot yuborish </a>                       
                </div>
                <table class="table table-striped table-hover">
                    {% if parameters.count %}
                    <thead>
                        <tr>
                            <th style="width:25%;">№</th>
                            <th style="width:25%;">Ma'lumot oyi</th>
                            <th style="width:25%">Ma'lumot kiritilgan sana</th>
                            <th style="width:25%">Ishlab chiqarilgan elektr energiya</th>
                            <th>Harakat</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for b_obj in parameters %}                            
                            <tr>
                                <td>#</td>
                                <td>{{b_obj.nomi}}</td>
                                <td >{{b_obj.sana}}</td>
                                <td>{{b_obj.aktiv_elektr_energiya}}</td>
                                <td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>
                            </tr>  
                        {% endfor %}                      
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
