{% extends 'secondadmin/base_sa.html' %}

{% block title %}
			Davlatni o`zgartirish
		{% endblock title %} 

{% block namepage %}
Tumanni o`zgartirish
{% endblock namepage %}


{% block content %}
<form action="{% url 'editoked' iftum.id %}" method="post">
{% include 'partials/_messages.html'%} {% csrf_token %}
    
    <div class="card-body text-md-right ">
        <a href="{% url 'tuman'%}"                             
            class="btn btn-warning">Bekor qilish</a>
    </div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">                                    
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label class="form-label" for="">Bo'lim</label>
                            <select
                                class="form-control"
                                autofocus required="true"
                                name="bolim"
                                value = {{values.bolim}}>
                                <option selected>{{values.bolim}}</option>
                                {% for v in bolimlist %}
                                <option>{{v}}</option>
                                {% endfor %}
                        </select>
                        </div> 
                        
                        <div class="mb-3 col-md-3">
                            <label class="form-label" for="">Bob</label>
                            <input type="number"
                                class="form-control"
                                autofocus required="True"
                                placeholder=""
                                name="bob"
                                value = {{values.bob}}>
                        </div>
                        
                        <div class="mb-3 col-md-3">
                            <label class="form-label" for="">Guruh</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder=" "                              
                                name="guruh"
                                value = {{values.guruh}}>
                        </div>                        

                        <div class="mb-3 col-md-3">
                            <label class="form-label" for="">Sinf</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder=" "                              
                                name="sinf"
                                value = {{values.sinf}}>
                        </div>

                        <div class="mb-3 col-md-3">
                            <label class="form-label" for="">Tartibi</label>
                            <input type="number" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder=" "                              
                                name="tartib"
                                value = {{values.tartib}}>
                        </div>
                        
                        <div class="mb-3 col-md-9">
                            <label class="form-label" for="">Nomi</label>
                            <input type="text" 
                                class="form-control" 
                                autofocus required="true"
                                placeholder = " "                              
                                name = "nomi"
                                value = {{values.nomi}}>
                        </div>
                                                
                        <div class="mb-3 col-md-2">
                            <a href="{% url 'deloked' iftum.id %}" class="btn btn-danger">O'chirish</a>                            
                        </div>
            </div>
        </div>
    </div>
    <div class="text-md-right">
        <input type="submit" 
            value="Saqlash" 
            class="btn btn-primary"/>
    </div>
</div></form>
{% endblock content %}