{% extends 'secondadmin/base_sa.html' %}

{% block title %}
			Ikkinchi admin
		{% endblock title %} 

{% block namepage %}
Ikkinchi admin
{% endblock namepage %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    qayta ishlash jarayonlari ketyapti...</h5>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
