{% load static %}

<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
  <span class="align-middle"> {% block nameenterprises %}
      EIS
    {% endblock nameenterprises %} </span>
</a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Menyu
            </li>
            {% block sidebar %}
            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'home' %}">
      <i class="align-middle" data-feather="home"></i> <span class="align-middle">Bosh sahifa</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
      <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profil</span>
    </a>
            </li>           

            <li class="sidebar-header">
                Ma'lumotlar kiritish
            </li>           

            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
      <i class="align-middle" data-feather="slack"></i> <span class="align-middle">Bino va inshootlar</span>
    </a>
            </li>  
            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'inperiodical' %}">
      <i class="align-middle" data-feather="layers"></i> <span class="align-middle">Davriy ma'lumotlar</span>
    </a>
            </li>               

            <li class="sidebar-header">
                Hisobotlar
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
      <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Davriy hisobotlar tayyorlash</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
      <i class="align-middle" data-feather="trending-up"></i> <span class="align-middle">Bashoratlash</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
      <i class="align-middle" data-feather="percent"></i> <span class="align-middle">Energiya balansi</span>
    </a>
            </li>
            {% endblock sidebar %}
            
        </ul>        
    </div>
</nav>

<div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle d-flex">
  <i class="hamburger align-self-center"></i>
</a>

        <form class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
                <input type="text" class="form-control" placeholder="qidirish…" aria-label="Search">
                <button class="btn" type="button">
      <i class="align-middle" data-feather="search"></i>
    </button>
            </div>
        </form>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">               
                
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
        <i class="align-middle" data-feather="settings"></i>
      </a>

                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
        <span class="text-dark"> {% block nameadmin %} adminnurbek{% endblock nameadmin %} </span>
      </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="user"></i> Profil</a>                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="settings"></i> Sozlamalar </a>
                        <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="help-circle"></i> Murojat</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Chiqish</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>